@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');
:root{
    --dark-color: #0B0D17;
    --light-color:#D0D6F9;
    --white-color:#FFFFFF;
    --background-color:#F2F2F2;
}
/* general styling */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
h1,
h2,
h3,
h4,
.subheading1{
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
    font-weight: normal;
    color: var(--white-color);
}
h1{
    font-size: 150px;
}
h2{
    font-size: 100px;
}
h3{
    font-size: 56px;
}
h4{
    font-size: 32px;
}

h5,
.subheading2,
.nav-text{
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
}
h5{
    font-size: 28px;
    word-spacing: .5rem;
    color: var(--white-color);
    font-weight: 400;
    
}
.subheading1{
    font-size: 28px;
}
.subheading2{
    font-size: 14px;
    word-spacing: 2.35;
   
}
.nav-text{
    font-size: 16px;
    word-spacing: .4rem;
}
.body-text{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    font-size: 18px;
    width: 380px;
    word-break: normal;
    word-wrap: normal;
}
.main{
    width: 100vw;
    overflow-x: hidden;
    height: 100vh;
    background-image:url(/assets/home/background-home-desktop.jpg);
    object-fit: contain;
 
}
.light{
    color: var(--light-color);
}
.tag{
    position: absolute;
    top:170px;
    left: 170px;
}
/* End of general styling */
 

/*Navigation  */
.navigation{
    /* border: 1px solid black; */
    position: relative;
    top: 30px;
    left: 50px;
    width:96.37%;
    height: 98px;
    display:flex;
    align-items: center;
}
.long-ruler{
    height: 1px;
    width: 473px;
    background-color: var(--white-color);
    opacity: 25.15%;
    position: absolute;
    left: 120px;
    z-index: 2;

}
.links{
    width: 500px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    
}
.nav-text .active{
    border-bottom: 3px solid var(--white-color);
}
.nav-text .hover-effect:hover{
    border-bottom:3px solid rgba(208, 214, 249, .5);
}
.logo{
    margin-right: auto;
}
.align-right{
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter:  blur(12px);
    height: 100%;
    width: 58%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.align-right li a {
    display: inline-block;
    color: var(--white-color);
  
}

/* End of navigation */
