@import url(/stylesheet/base.css);

.main{
    background-image: url(/assets/destination/background-destination-desktop.jpg);
    object-fit: cover;
    background-size: cover;
    height: 100vh;
    
}
.contianer{
    position: relative;
}
.wrapper{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 130px;
    
}
.destination-image{
    height: 300px;
    width: 300px;
    padding-left: 45px;
    object-fit: contain;
    margin-right: auto;
    margin-top: 33px;
}
.destinations{
    width: 380px;
    height: 475px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.destination-planets{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;  
    height: 32px;
}
.destination-planets li{
    display: block;
}
.destination-planets a {
    color: var(--light-color);
}

.current-location{
    margin-top: 20px;
}
.horizontal-rule{
    height: 1px;
    width: 100%;
    background-color: var(--light-color);
    opacity: 25.15%;
    margin:35px 0 20px 0;
}
.planet-distance-info{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.distance {
    margin-right: 50px;
}
.distance .subheading2{
    font-weight: 400;
    margin-bottom: 10px;
    color: var(--light-color);
}

/* Media query  */
@media (min-width:460px) and (max-width:820px){
    .main{
        background-image: url(/assets/destination/background-destination-tablet.jpg);
    }
    .wrapper{
        flex-direction: column;
        justify-content: center;
        margin-top: 160px;
        max-width: 400px;
        text-align: center;
    }
    .destinations{
        margin-top: 50px;
    }
    .destination-planets,
    h2{
        margin: 0 auto;
    }
    .planet-distance-info{
        justify-content: center;
    }
    .destination-image{
        width: 250px;
        height: 250px;
    }
}

