@import url(/stylesheet/base.css);

.main{
    background-image: url(/assets/destination/background-destination-desktop.jpg);
}
.contianer{
    position: relative;
}
.destination-image{
    height: 300px;
    width: 300px;
    object-fit: contain;
    position: absolute;
    top: 140px;
    left: 120px;
}
.destinations{
    width: 380px;
    height: 475px;
    position: absolute;
    top: 240px;
    left: 720px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.destination-planets{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;  
    height: 32px;
}
.destination-planets li{
    display: block;
}
.destination-planets a {
    color: var(--light-color);
}

.current-location{
    margin-top: 20px;
}
.horizontal-rule{
    height: 1px;
    width: 100%;
    background-color: var(--light-color);
    opacity: 25.15%;
    margin:35px 0 20px 0;
}
.planet-distance-info{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.distance {
    margin-right: 50px;
}
.distance .subheading2{
    font-weight: 400;
    margin-bottom: 10px;
    color: var(--light-color);
}