@import url("/stylesheet/base.css");

/* hero session */

.main{
    background-image:url(/assets/home/background-home-desktop.jpg);
}
.wrapper{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    height: fit-content;
    padding: 10px;
    margin: 0 auto;
    margin-top:190px;
}
.hero{
    width:450px;
    margin-right: auto;
}
.aside{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin-top: 100px;
    background-color: var(--white-color);
    align-self: baseline;
    position: relative;
    z-index: 10;
    
}
.center{
    color: var(--dark-color);
    letter-spacing: 2px;  
    position: absolute;
    top: calc(50% - 3.2rem / 2);  
    left: calc(25% - 3.2rem / 2);;
}
/* start of media query */
@media (min-width:500px) and (max-width:820px){
    .main{
        background-image: url(/assets/home/background-home-tablet.jpg);
    }
    .wrapper{
        flex-direction: column;
        align-content: center;
        max-width: 500px;
    }
    .hero{
        margin-right: 0;
        text-align: center;
    }
    .body-text {
        width: auto;
    }
    .aside{
        align-self: center;
    }
    
}



/* End of hero session */
